In [28]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
from pprint import pprint
from webdriver_manager.chrome import ChromeDriverManager
import time

In [29]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 95.0.4638
Get LATEST driver version for 95.0.4638
Driver [C:\Users\gonza\.wdm\drivers\chromedriver\win32\95.0.4638.54\chromedriver.exe] found in cache

# NASA MARS NEWS

In [30]:
# defining URL
news_url = 'https://redplanetscience.com/'
browser.visit(news_url)

In [31]:
# HTML parser
html = browser.html
news_mars = BeautifulSoup(html, 'html.parser')

In [32]:
news_title = news_mars.body.find('div', class_='content_title').text
news_title

news_desc = news_mars.body.find('div', class_='article_teaser_body').text
news_desc

print (f"Title: {news_title}")
print("-----------------------------------------------------------------------------------------------")

print (f"Description: {news_desc}")

Title: NASA's Perseverance Rover Goes Through Trials by Fire, Ice, Light and Sound
-----------------------------------------------------------------------------------------------
Description: The agency's new Mars rover is put through a series of tests in vacuum chambers, acoustic chambers and more to get ready for the Red Planet.

# JPL MARS SPACE IMAGES - FEATURED IMAGE

In [33]:
# defining image URL
image_url = "https://spaceimages-mars.com/"
browser.visit(image_url)

In [34]:
# HTML parser
html = browser.html
mars_image = BeautifulSoup(html, 'html.parser')

In [35]:
image_relative_path = mars_image.find_all('img', class_='headerimage fade-in')[0]["src"]
featured_image_url = f"{image_url}{image_relative_path}"
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

# MARS FACTS

In [36]:
# defining URL 
fact_url = 'https://galaxyfacts-mars.com/'
browser.visit(fact_url)

In [37]:
# HTML parser
html = browser.html
mars_facts = BeautifulSoup(html, 'html.parser')

In [38]:
mars_table = pd.read_html(fact_url)
mars_table

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [39]:
mars_table_df = pd.DataFrame(mars_table[0])
mars_table_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [40]:
mars_table_df.columns = ["Element", "Mars", "Earth"]
mars_table_df

                   Element             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [41]:
# converting to html string
mars_html = mars_table_df.to_html()
print(mars_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Element</th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Mars - Earth Comparison</td>
      <td>Mars</td>
      <td>Earth</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Temperature:</td>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

# MARS HEMISPHERES

In [42]:
# defining URL 
mars_hems_url = 'https://marshemispheres.com/'
browser.visit(mars_hems_url)

In [43]:
# HTML parser
html = browser.html
mars_hems_image = BeautifulSoup(html, 'html.parser')
results = mars_hems_image.find_all('div', class_='description')

In [44]:
links = browser.links.find_by_partial_text("Hemisphere Enhanced")

mers_hems_list = []

for index, link in enumerate(links):
    img_link_dict = {}
    if index > 0:
        browser.back()
        time.sleep(2)
        links = browser.links.find_by_partial_text("Hemisphere Enhanced")
    link = links[index]
    title = link.text
    link.click()
    time.sleep(1)
    inner_html = browser.html
    inner_soup = BeautifulSoup(inner_html, 'html.parser')
    downloads = inner_soup.find('div', class_='downloads')
    
    img_link_dict['title'] = f'{title}'
    img_link_dict['link'] = f"{mars_hems_url}{downloads.find('a')['href']}"
    mers_hems_list.append(img_link_dict)
mers_hems_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'link': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'link': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'link': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'link': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [46]:
 browser.quit()